[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

.DS_Store
Assets/Fonts/NotoSansJP.asset
Assets/Fonts/NotoSansJP.asset.meta
Assets/Fonts/MPLUSRounded1c-Black SDF.asset
Assets/Fonts/MPLUSRounded1c-Bold SDF.asset